<div class="main-page">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-card-header">
      <mat-card-title>Welcome to MovieScout</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="welcome-card-actions">
      <button Mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
        Sign Up
      </button>
      <button mat-raised-button (click)="openUserLoginDialog()" color="primary">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>