.mat-icon-button {
  position: absolute;
  right: 5px;
  top: 5px;
  color: red;
}

mat-icon {
  color: red;
}

.mat-card>.mat-card-actions {
  margin-left: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-evenly;
  color: rgb(197, 197, 197);
}